@import "tailwindcss";

@theme inline {
  --color-rydvert-green: #02E965;
  --color-rydvert-black: #000000;
  --color-rydvert-white: #FFFFFF;
  --font-sans: var(--font-inter);
}

:root {
  --background: #FFFFFF;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
}
